<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div style="text-align:center">
    <h1 class="app-title lg">
      <a routerLink="">{{ title }}</a>
    </h1>
  </div>
  <nav aria-label="breadcrumb" role="navigation">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
          <a routerLink="users" routerLinkActive="active">Users</a>
        </li>
      </ol>
    </div>
  </nav>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
  <footer class="p-3 mt-3 bg-dark text-white text-center">Test task for AgileEngine. Developed by Ruslan Sheremet
  </footer>
</div>

