<div class="container">
  <div class="row">
    <div class="col">
      <button class="back btn btn-primary" (click)="goBack()">Back</button>
    </div>
    <h2>User details</h2>
    <div class="col">
      <button [routerLink]="'./edit'" class="btn btn-primary float-right">Edit</button>
    </div>
  </div>
</div>

<div class="container">
  <div *ngIf="!loaded">Loading...</div>
  <div class="user-details" *ngIf="loaded">
    <div class="container user-info">
      <div class="row">
        <div class="col-md">
          <h3 class="text-center">Account info:</h3>
          <div class="container">
            <app-two-col-row [label]="'Name'" [val]="user.name"></app-two-col-row>
            <app-two-col-row [label]="'Username'" [val]="user.username"></app-two-col-row>
            <app-two-col-row [label]="'Email'" [val]="user.email"></app-two-col-row>
          </div>
          <h3 class="text-center">Contact info:</h3>
          <div class="container">
            <app-two-col-row [label]="'Phone'" [val]="user.phone"></app-two-col-row>
            <app-two-col-row [label]="'Website'" [val]="user.website"></app-two-col-row>
          </div>
          <h3 class="text-center">Company information:</h3>
          <div class="container">
            <app-two-col-row [label]="'Name'" [val]="user.company.name"></app-two-col-row>
            <app-two-col-row [label]="'Catch phrase'" [val]="user.company.catchPhrase"></app-two-col-row>
            <app-two-col-row [label]="'Bs'" [val]="user.company.bs"></app-two-col-row>
          </div>
        </div>
        <div class="col-md">
          <h3 class="text-center">Address information:</h3>
          <div class="container">
            <app-two-col-row [label]="'Street'" [val]="user.address.street"></app-two-col-row>
            <app-two-col-row [label]="'Suite'" [val]="user.address.suite"></app-two-col-row>
            <app-two-col-row [label]="'City'" [val]="user.address.city"></app-two-col-row>
            <app-two-col-row [label]="'Zipcode'" [val]="user.address.zipcode"></app-two-col-row>
          </div>
          <h3 class="text-center">Geo:</h3>
          <div class="container">
            <app-two-col-row [label]="'Latitude'" [val]="user.address.geo.lat"></app-two-col-row>
            <app-two-col-row [label]="'Longitude'" [val]="user.address.geo.lng"></app-two-col-row>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
